
@font-face {
    font-display: swap; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin-700.woff2') format('woff2'); 
  }
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "open-sans", sans-serif;
}
.container{
    width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
}
:root{
    --bg-button:#00BAFC;
}
/* header styles start */

.site-header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
    top: 0;
}

.header-wrapper {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 4px 20px 0px #0000001A;
            box-shadow: 0px 4px 20px 0px #0000001A;
}
.header-link {
    display: inline-block;
}
.header-content-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
}

.header > a{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;

}
.header > a::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #000;
    bottom: 0;
    left: -100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header > a::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #000;
    bottom: 0;
    right: -100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header > a:hover::before{
    left: 0;
}
.header > a:hover::after{
    right: 0;
}
.header > a:active{
    background-color:  rgba(25, 25, 25, 0.7);
    color: white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header > a:active::before{
    left: -100%;
}
.header > a:active::after{
    right: -100%;
}
.number-link{
    width: 159px;
    padding: 6px 16px;
    background-color: var(--bg-button);
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: center; 
    -webkit-transition: all 0.3s; 
    -o-transition: all 0.3s; 
    transition: all 0.3s;
}
.number-link:hover{
    border-color: var(--bg-button);
    background: transparent;
    color: var(--bg-button);
}
.number-link:active{
    border-color: transparent;
    background-color: var(--bg-button);
    color: white;
    opacity: 0.6;
}

/* header styles end */
.site-main{
    margin-top: 80px;
}
/* hero styles start */
.hero-section {
    padding: 80px;
}
.hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hero-content-wrapper {
    width: 470px;
}
.hero-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    color: #000000;
    margin-bottom: 16px;
}
.hero-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}
.hero-btn {
    width: 232px;
    padding: 8px 16px;
    background-color: var(--bg-button);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-bottom: 17px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.hero-btn:hover{
    background-color:  rgba(0, 186, 252, 0.8);
}
.hero-btn:active{
    background-color:rgba(0, 186, 252, 0.6);
}
iframe{
    border-radius: 5px;
}
/* hero styles end */

/* services styles start */
.services-section {
    padding: 56px;
}
.title-wrapper {
    width: 719px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;

}
.title-wrapper > h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    color: #000000;
    margin-bottom: 16px;
    
}
.title-wrapper > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}
.services-list-up{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    margin-bottom: 48px;
}
.services-item {
    width: 320px;
    padding: 24px 58px;
    -webkit-box-shadow: 0px 8px 8px 0px #0000001A;
            box-shadow: 0px 8px 8px 0px #0000001A;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.services-item:hover{
    -webkit-box-shadow: 0px 12px 21px 0px #0000001A;
            box-shadow: 0px 12px 21px 0px #0000001A;
}
.services-item:active{
    -webkit-box-shadow: 0px 4px 4px 0px #00000033;
            box-shadow: 0px 4px 4px 0px #00000033;
}
.services-img {
    margin-bottom: 16px;
}
.services-count {
    display: block;
    margin-bottom: 16px;
}
.services-list-down{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    margin-bottom: 16px;
} 
.services-btn-link{
    width: 378px;
    height: 64px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
}
.services-btn-link > button{
    width: 167px;
    padding: 8px 16px;
    background-color: var(--bg-button);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.services-btn-link > button:hover{
    background-color:  rgba(0, 186, 252, 0.8);
}
.services-btn-link > button:active{
    background-color:  rgba(0, 186, 252, 0.6);
}


.services-btn-link > a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--bg-button);
    text-decoration: underline;    
}

/* services styles end */

/* vivamus styles start */
.vivamus-section {
    padding: 56px;
}
.vivamus-title-wrapper {
    width: 719px;
    text-align: center;
    margin: 0 auto;
}
.vivamus-title-wrapper > h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    color: #000000;
    margin-bottom: 16px;
}
.vivamus-title-wrapper > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}
.vivamus-wrapper-first-child{
    width: 852px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 48px;
}

.vivamus-content-wrapper {
    width: 470px;
}
.vivamus-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    margin-bottom: 8px;
}
.vivamus-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}
.vivamus-wrapper-second-child{
     width: 852px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin: 0 auto;
     margin-bottom: 48px;
}
.vivamus-wrapper-third-child{
    width: 852px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 48px;
}
.vivamus-wrapper-fourth-child{
    width: 852px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 48px;
}
.vivamus-wrapper-fifth-child{
    width: 852px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 24px;    
}
.vivamus-btn{
    display: block;
    margin: 0 auto;
    width: 167px;
    padding: 8px 16px;
    background-color: var(--bg-button);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    border: 2ps solid transparent;

}
.vivamus-btn:hover{
    background-color: white;
    color: var(--bg-button);
    border-color: var(--bg-button);
}


/* vivamus styles end */

/* nullam styles start */
.nullam-section {
    padding: 56px;
    background-color: var(--bg-button);
}
.nullam-title-wrapper {
    width: 719px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
}
.nullam-title-wrapper > h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.nullam-title-wrapper > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}
.form-wrapper {
    margin: 0 auto;
    width: 348px;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.form-input {
    width: 300px;
    padding: 16px 10px 16px 16px;
    border-radius: 5px;
    border: none;
    background-color: #F3F3F3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    outline-color: var(--bg-button);
}
.form-input::-webkit-input-placeholder{
    color: black;
}
.form-input::-moz-placeholder{
    color: black;
}
.form-input:-ms-input-placeholder{
    color: black;
}
.form-input::-ms-input-placeholder{
    color: black;
}
.form-input::placeholder{
    color: black;
}
.form-btn{
    width: 167px;
    padding: 8px 16px;
    background-color: var(--bg-button);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid transparent;
    cursor: pointer;
}
.form-btn:hover{
    background-color: white;
    color:var(--bg-button) ;
    border-color: var(--bg-button);
}
/* nullam styles end */

/* footer styles start */
.site-footer {
    padding: 56px 408px 56px 100px;
    background-color: black;
}

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-start {
    width: 310px;
}
.footer-count {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;    
}
.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-text-content{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 8px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.footer-text-content:hover{
    color:#00BAFC;
}
.footer-text-content:active{
    color:rgb(0, 186, 252, 0.6);
}
.footer-center {
    width: 143px;
}
.footer-end {
    width: 142px;
}
.footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.footer-link > a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF; 
}
.footer-link > a:hover{
    color:#00BAFC;
}
.footer-link > a:active{
    color:rgb(0, 186, 252, 0.6);
}
/* footer styles end */